# Игнорировать все файлы .pyc, которые генерируются компилятором Python
*.pyc

# Игнорировать директории __pycache__, которые также генерируются Python
__pycache__/

# Игнорировать файл базы данных SQLite, если вы его используете
*.sqlite3

# Игнорировать директорию, в которой хранится ваше виртуальное окружение Python
venv/

# Игнорировать файлы .env, которые могут содержать конфиденциальную информацию
.env

# Игнорировать все файлы .log
*.log

# Игнорировать все .csv, .dat, .out и .pid файлы
*.csv
*.dat
*.out
*.pid

.idea/

*.pyc
*.pyo
*.pyd
__pycache__
*.pyo.d
*.pyc.d
*_test.go.d
*.egg-info/
dist/
build/
